.ant-breadcrumb {
    color: #939393;
    font-size: 18px;
}

.ant-btn-ghost:focus, .ant-btn-ghost:hover{
    color: red;
    border-color: red;
}

.kv-create-button{
    padding: 15px 15px 12px 0px;
}

.ant-tag{
    min-width: 80px;
    height: 30px;
    line-height: 26px;
    font-size: 16px;
}